@model AspNetCoreTelegramBot.ViewModels.LoginModel

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>Вход на сайт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a862f3497f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Account/Login.css" runat="server" />
</head>

<body class="h-100">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col-5">
                <div class="card">
                    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" method="post">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <div id="login-button" class="container">
                            <div class="form-group justify-content-center col-12">

                                <div class="row justify-content-center">
                                    <label asp-for="Login">Введите Login</label>
                                </div>

                                <div class="row justify-content-center">
                                    <input class="form-control col-8" id="Login" type="text" asp-for="Login" />
                                </div>
                                
                                <div class="row justify-content-center">
                                    <span asp-validation-for="Login"> </span>
                                </div>
                                
                                <div class="row justify-content-center mt-1">
                                    <input type="button" value="Отправить код" class="btn btn-outline-dark" onclick="sendCode()" />
                                </div>
                                
                            </div>
                        </div>
                        <div id="code-button" class="container">
                            <div class="form-group justify-content-center col-12">
                                <div class="row justify-content-center">
                                    <label asp-for="Code">Введите код</label>
                                </div>
                                
                                <div class="row justify-content-center">
                                    <input class="form-control col-8" asp-for="Code" />
                                </div>
                                
                                <div class="row justify-content-center">
                                    <span asp-validation-for="Code"></span>
                                </div>

                                <div class="row justify-content-center mt-1">
                                    <div class="col-6">
                                        <input type="submit" value="Войти" class="btn btn-outline-dark mt-1" />
                                    </div>
                                    <div class="col-6">
                                        <input class="btn btn-outline-dark hide-button" onclick="hideCodeButton()" value="Назад" />
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showCodeButton() {
            let codeButton = document.getElementById('code-button');
            codeButton.style.display = "flex";

            let loginButton = document.getElementById('login-button');
            loginButton.style.display = "none";
        }

        function hideCodeButton() {
            let codeButton = document.getElementById('code-button');
            codeButton.style.display = "none";

            let loginButton = document.getElementById('login-button');
            loginButton.style.display = "flex";
        }

        async function sendCode() {
            let login = document.getElementById('Login').value;
            const response = await fetch("/Account/SendCode/?login=" + login, {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            if (response && response.ok === true) {
                const data = await response.json();
                if (data === true) {
                    showCodeButton()
                }
            }
        }
    </script>
</body>
</html>