* {
    box-sizing: border-box;
}

html, body, body:first-child {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
}

body {
    font-size:1em;
    background-color:#f4f4f4;
}

.container {
    max-width:100vw;
}

.header-container {
    padding-left: 0px;
    height:100%;
}

@media (max-width: 576px) { /* если максимальное разрешение экрана составит 576 пикселей (смартфоны) */

    .header-container {
        height: 70px;
    }
}